<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="d2bb8afd-ebc2-4921-aee3-77d61d42e8b8"
            Publisher="CN=Robin"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>zsLibTest2013_Universal.Windows</DisplayName>
    <PublisherDisplayName>Robin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="zsLibTest2013_Universal_Windows.App">
        <VisualElements
            DisplayName="zsLibTest2013_Universal.Windows"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="zsLibTest2013_Universal.Windows"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>